<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="Just-start-solo-4x4styles.css" />
    <title>Just-Start-solo-4x4</title>
</head>

<body>
    <nav class="nav">
        <a href="./Start-Game.html"><img src="../assets/logo-green.svg" alt="logo"></a>
        <div class="nav-div">
            <button class="nav-r">Restart</button>
            <button class="nav-n">New Game</button>
        </div>
    </nav>

    <div class="cal">
        <div>
            <div class="flex">
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark hover"></button>
            </div>
            <div class="flex">
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
            </div>
            <div class="flex">
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
            </div>
            <div class="flex">
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
                <button class="bg dark"></button>
            </div>
        </div>
    </div>


    <footer class="ft-center">
        <div style="width: 435px; display: flex; justify-content: space-between;">
            <div class="f" style="width: 47%;">
                <h3>Time</h3>
                <h1>0:00</h1>
            </div>

            <div class="f" style="width: 47%;">
                <h3>Moves</h3>
                <h1>0</h1>
            </div>
        </div>
    </footer>
</body>

</html>