    @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Rubik:ital,wght@0,300;0,500;0,700;1,400&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-family: 'Rubik', sans-serif;
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background: #FCFCFC;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
        overflow-y: scroll;
    }
    
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;
    }
    
    .nav>a>img {
        width: 60%;
    }
    
    .nav-div {
        width: fit-content;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-div>a {
        margin-left: 1rem;
    }
    
    .nav-r {
        width: 127px;
        height: 52px;
        border: none;
        background-color: #FDA214;
        border-radius: 26px;
        font-weight: 700;
        font-size: 18px;
        color: #FCFCFC;
    }
    
    .nav-r:hover {
        background-color: #FFB84A;
    }
    
    .nav-n {
        width: 127px;
        height: 52px;
        border: none;
        border-radius: 26px;
        font-weight: 700;
        font-size: 18px;
    }
    
    .nav-n:hover {
        background-color: #6395B8;
    }
    
    .cal {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5rem 0;
    }
    
    .orange {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        background-color: #FDA214;
        color: #FCFCFC;
        border: none;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Atkinson Hyperlegible';
        font-style: normal;
    }
    
    .grey {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        background-color: #BCCED9;
        color: #FCFCFC;
        border: none;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Atkinson Hyperlegible';
    }
    
    .flex>.hover:hover {
        background-color: #6395B8;
    }
    
    .dark {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        color: #FCFCFC;
        border: none;
        font-size: 24px;
        font-weight: 700;
        background-color: #152938;
    }
    
    .flex {
        display: flex;
        margin-bottom: 1rem;
    }
    
    .flex>button {
        margin-right: 1rem;
    }
    
    .flex>button:last-child {
        margin-right: 0;
    }
    /* footer {
    background-color: aqua;
} */
    
    .ft {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .ft-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .f {
        height: 72px;
        width: 23%;
        border: none;
        border-radius: 10px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #DFE7EC;
    }
    
    .bg {
        width: 100px;
        height: 100px;
    }
    
    .menu {
        display: none;
    }
    
    .restart {
        margin-right: 15px;
    }
    
    .wrap-top {
        color: #7191A5;
    }
    
    .f>h1 {
        color: #304859;
    }
    /* media Querey for Mobile */
    
    @media screen and (max-width: 480px) {
        body {
            padding: 50px 15px;
        }
        .nav-r,
        .nav-n {
            width: 100px;
            height: 30px;
            font-size: 15px;
            display: none;
        }
        .orange,
        .grey,
        .dark {
            width: 44px;
            height: 44px;
        }
        .bg {
            height: 60px;
            width: 60px;
        }
        .menu {
            display: block;
            width: 5rem;
            height: 40px;
        }
        .ct {
            display: none;
        }
        .wrap-top {
            width: 100%;
            text-align: center;
        }
        .cal {
            width: fit-content;
        }
        .ft-center {
            width: 100%;
        }
    }
    /* Media Query for tablet */
    
    @media screen and (max-width: 768px) {
        body {
            padding: 2rem;
        }
        .nav-div {
            width: fit-content;
        }
        .nav-r,
        .nav-n {
            width: 150px;
            height: 50px;
            font-size: 15px;
            display: block;
        }
        .bg {
            height: 100px;
            width: 100px;
        }
        .menu {
            display: none;
        }
        .wrap-top {
            width: 100%;
            text-align: center;
        }
        .top {
            margin-top: 5px;
            width: 40px;
        }
        a {
            text-decoration: none;
        }
        .ft-center {
            padding-bottom: 30px;
        }
    }