@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Rubik:ital,wght@0,300;0,500;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Rubik', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #152938;
    overflow: hidden;
}

.container {
    width: 50%;
}

.white {
    background: #FCFCFC;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 90%;
    margin: 20px 0;
}

button {
    background-color: #BCCED9;
    border: none;
    padding: 10px 0;
    color: #FCFCFC;
    border-radius: 50px;
}

.memory {
    color: white;
}

.l1,
.l3 {
    width: 200px;
    height: 60px;
}

.l2 {
    width: 12%;
    height: 60px;
}

.hover:hover {
    background-color: #6395B8;
}

.hover-btn:hover {
    background-color: #FFB84A;
}

.btn {
    width: 100%;
    background-color: #FDA214;
    height: 80px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.active {
    background-color: #304859;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #7191A5;
}


/* media Querey for Mobile */

@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .logo {
        width: 40%;
        margin-left: 90px;
        padding: 40px 0;
    }
    .container {
        width: 300px;
        height: 700px;
    }
    .row {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 15px 0;
    }
    .white {
        padding: 10px 0;
    }
    h3 {
        font-size: 15px;
    }
    .l1,
    .l3 {
        width: 130px;
        height: 40px;
    }
    .l2 {
        width: 60px;
        height: 40px;
        border-radius: 40px;
    }
    button {
        margin: 30px 0;
    }
    .hover-btn {
        width: 270px;
        height: 40px;
    }
}


/* 
Media Query for tablet */

@media screen and (max-width: 768px) and (min-width: 481px) {
    .logo {
        width: 40%;
        margin-left: 200px;
        padding: 80px 0;
    }
    .container {
        width: 700px;
        height: 700px;
    }
    .row {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 15px 0;
    }
    .white {
        padding: 10px 0;
    }
    h3 {
        font-size: 20px;
    }
    .l1,
    .l3 {
        width: 300px;
        height: 50px;
        font-size: 22px;
    }
    .l2 {
        width: 130px;
        height: 50px;
        border-radius: 40px;
        font-size: 22px;
    }
    button {
        margin: 30px 0;
    }
    .hover-btn {
        width: 630px;
        height: 50px;
        font-size: 25px;
    }
}