button {
    background-color: #BCCED9;
    border: none;
    padding: 10px 0;
    color: #FCFCFC;
    border-radius: 50px;
}

.l1,
.l3 {
    width: 200px;
    height: 60px;
}

.l2 {
    width: 12%;
    height: 60px;
}

.hover:hover {
    background-color: #6395B8;
}

.hover-btn:hover {
    background-color: #FFB84A;
}

.btn {
    width: 100%;
    background-color: #FDA214;
    height: 80px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    height: 50px;
}