.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.nav-div {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.nav-r {
    width: 127px;
    height: 52px;
    border: none;
    background-color: #FDA214;
    border-radius: 26px;
    font-weight: 700;
    font-size: 18px;
    color: #FCFCFC;
}

.nav-r:hover {
    background-color: #FFB84A;
}

.nav-n {
    width: 127px;
    height: 52px;
    border: none;
    border-radius: 26px;
    font-weight: 700;
    font-size: 18px;
}

.nav-n:hover {
    background-color: #6395B8;
}